<meta property="og:locale" content="pl_PL"/>
<meta property="og:site_name" content="Lewicowy Hub Online"/>
<meta property="og:title" content="Lewicowy Hub Online"/>
<meta property="og:url" content="https://online.lhub.pl"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Otwarta i bezpłatna platforma lekcji online dla wszystkich zainteresowanych szkół. Świadczymy również wsparcie dla użytkowników."/>
<meta property="og:image" content="https://online.lhub.pl/wp-content/uploads/2020/04/annie-spratt-QckxruozjRg-unsplash-scaled.jpg"/>
<meta property="og:image:url" content="https://online.lhub.pl/wp-content/uploads/2020/04/annie-spratt-QckxruozjRg-unsplash-scaled.jpg"/>
<meta property="og:image:secure_url" content="https://online.lhub.pl/wp-content/uploads/2020/04/annie-spratt-QckxruozjRg-unsplash-scaled.jpg"/>
<!-- Google+ / Schema.org -->
<meta itemprop="name" content="Lewicowy Hub Online"/>
<meta itemprop="headline" content="Lewicowy Hub Online"/>
<meta itemprop="description" content="Otwarta i bezpłatna platforma lekcji online dla wszystkich zainteresowanych szkół. Świadczymy również wsparcie dla użytkowników."/>
<meta itemprop="image" content="https://online.lhub.pl/wp-content/uploads/2020/04/annie-spratt-QckxruozjRg-unsplash-scaled.jpg"/>
<meta itemprop="author" content="Redakcja"/>
<meta name="twitter:title" content="Lewicowy Hub Online"/>
<meta name="twitter:url" content="https://online.lhub.pl"/>
<meta name="twitter:description" content="Otwarta i bezpłatna platforma lekcji online dla wszystkich zainteresowanych szkół. Świadczymy również wsparcie dla użytkowników."/>
<meta name="twitter:image" content="https://online.lhub.pl/wp-content/uploads/2020/04/annie-spratt-QckxruozjRg-unsplash-scaled.jpg"/>
<meta name="twitter:card" content="summary_large_image"/>